<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.microblink.capture_flutter">
    <application>
        <activity android:name=".CaptureActivity"
            android:exported="true"
            android:theme="@style/MB_theme_capture">
            <intent-filter>
                <action android:name="com.microblink.capture.result.contract.MbCapture" />
            </intent-filter>
        </activity>
    </application>
</manifest>
